<div class="body_form_confirm">
  <p class="title_page" align"center"><strong><span class="title_grey">LSI’s </span>Payment<span class="title_grey">&nbsp;Confirmation</span></strong></p>
  
  <p class="summary">Sorry your payment cannot be processed at current time. Please try again or click <a href="http://www.languagestudiesindonesia.com/">here</a> back to homepage</p>
  
</div>
