<%= form_tag('/confirm', :id =>"cart_form") do -%>

          <div class="header_form_tuition">
            <div class="text_form_header">
              <table width="100%">
                <tr>
                  <td width="30%"><strong>COURSE LEVEL </strong></td>
                  <td width="25%"><strong>NUMBER OF PARTICIPANT</strong></td>
                  <td width="25%"><strong>NUMBER OF SESSIONS</strong></td>
                  <td width="20%"><strong>TOTAL</strong></td>
                </tr>
              </table>
            </div>
          </div>
          
          <div class="bar_input_lightgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <span><input name="form_1" type="radio" class="input_type" checked="checked" />
                 <label class="lbl_1"><span class="text_form">TO BE DETERMINED</span></label>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_darkgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <span><input name="form_1" type="radio" class="input_type" />
                 <label class="lbl_1"><span class="text_form">IND 1.1 BAHASA INDONESIA:BEGINNER 1</span></label>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_lightgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <span><input name="form_1" type="radio" class="input_type" />
                 <label class="lbl_1"><span class="text_form">IND 1.2 BAHASA INDONESIA:BEGINNER 2</span></label>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_darkgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <span><input name="form_1" type="radio" class="input_type" />
                 <label class="lbl_1"><span class="text_form">IND 2.1 BAHASA INDONESIA:INTERMEDIATE 1</span></label>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_lightgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <span><input name="form_1" type="radio" class="input_type" />
                 <label class="lbl_1"><span class="text_form">IND 2.2 BAHASA INDONESIA:INTERMEDIATE 2</span></label>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_darkgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <span><input name="form_1" type="radio" class="input_type" />
                 <label class="lbl_1"><span class="text_form">IND 3.1 BAHASA INDONESIA:ADVANCE 1</span></label>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_lightgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <span><input name="form_1" type="radio" class="input_type" />
                 <label class="lbl_1"><span class="text_form">IND 3.2 BAHASA INDONESIA:ADVANCE 2</span></label>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_darkgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <span><input name="form_1" type="radio" class="input_type" />
                 <label class="lbl_1"><span class="text_form">IND 3.3 BAHASA INDONESIA:ADVANCE 3</span></label>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
          
          <div class="bar_input_lightgrey">
          <table width="100%">
             <tr>
               <td width="40%">
                 <span><input name="form_1" type="radio" class="input_type" />
                 <label class="lbl_1"><span class="text_form">CUSTOM PROGRAM</span></label>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <select name="select" size="1" id="select">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
                 </select>
               </td>
               <td width="20%">
                 <input name="box1" type="text" id="textfield" size="20" />
               </td>
             </tr>
          </table>
          </div>
        
        <div class="header_form_addition">
          <div class="text_form_header"><strong>ADDITIONAL FEES</strong></div>
        </div>
        
        <div class="bar"><strong>PAY  YOUR ACCOMODATION FEES</strong></div>
        <div class="bar_menu_li">
           <table width="100%">
             <tr>
               <td width="80%"><label class="lbl_1">&nbsp;&nbsp;<input name="box9" type="text" id="textfield" size="50" /></td>
               <td width="20%"><input name="box8" type="text" id="textfield2" size="20" /></td>
              </tr>
           </table>
        </div>
      
        <div class="bar"><strong>PAY OTHER FEES</strong></div>
        <div class="bar_menu_li">
           <table width="100%">
             <tr>
               <td width="80%"><label class="lbl_1">&nbsp;&nbsp;<input name="box9" type="text" id="textfield" size="50" /></td>
               <td width="20%"><input name="box8" type="text" id="textfield2" size="20" /></td>
              </tr>
           </table>
        </div>
               
        <div class="button_pay">
          <input class="checkout" name="commit" type="submit" value="Checkout">
        </div>
          <!-- <a href="form_payment.html"><%#= image_tag("button.png", :alt => "Menu" ) %></a></div> -->
          <input type="hidden" name="commodity[][COMMODITY_ID]"    value="Espirit"/>
        	<input type="hidden" name="commodity[][COMMODITY_UNIT]"  value="500000"/>
        	<input type="hidden" name="commodity[][COMMODITY_NUM]"   value="4"/>
        	<input type="hidden" name="commodity[][COMMODITY_NAME1]" value="Espirit"/>

          <input type="hidden" name="commodity[][COMMODITY_ID]"    value="Tablet"/>
          <input type="hidden" name="commodity[][COMMODITY_UNIT]"  value="2500000"/> 
          <input type="hidden" name="commodity[][COMMODITY_NUM]"   value="2"/>
          <input type="hidden" name="commodity[][COMMODITY_NAME1]" value="Tablet"/>

          <input type="hidden" name="commodity[][COMMODITY_ID]"    value="Tablet2"/>
          <input type="hidden" name="commodity[][COMMODITY_UNIT]"  value="2500000"/> 
          <input type="hidden" name="commodity[][COMMODITY_NUM]"   value="2"/>
          <input type="hidden" name="commodity[][COMMODITY_NAME1]" value="Tablet2"/>

          <input type="hidden" name="commodity[][COMMODITY_ID]"    value="Tablet3"/>
          <input type="hidden" name="commodity[][COMMODITY_UNIT]"  value="2500000"/> 
          <input type="hidden" name="commodity[][COMMODITY_NUM]"   value="2"/>
          <input type="hidden" name="commodity[][COMMODITY_NAME1]" value="Tablet3"/>

          <input type="hidden" name="commodity[][COMMODITY_ID]"    value="Tablet4"/>
          <input type="hidden" name="commodity[][COMMODITY_UNIT]"  value="2500000"/> 
          <input type="hidden" name="commodity[][COMMODITY_NUM]"   value="2"/>
          <input type="hidden" name="commodity[][COMMODITY_NAME1]" value="Tablet4"/>

          <input type="hidden" name="commodity[][COMMODITY_ID]"    value="Tablet5"/>
          <input type="hidden" name="commodity[][COMMODITY_UNIT]"  value="2500000"/>
          <input type="hidden" name="commodity[][COMMODITY_NUM]"   value="2"/>
          <input type="hidden" name="commodity[][COMMODITY_NAME1]" value="Tablet5"/>

        	<input type="hidden" name="gross_amount"                 value="27000000"/>
        
<% end %>
<%= session[:myname] %>          
        