<div class="body_form">
  <p class="title_page"><strong><span class="title_grey">LSI’s </span> Secure ePayment<span class="title_grey">&nbsp;Gateway</span></strong></p>
  <p class="summary">Welcome to Language Studies Indonesia’s Online Payment Facility.</p>
  <p class="summary">LSI’s Secure ePayment Gateway provides an easy and efficient method to pay.<br /> 
  Tuition Fees and Accommodation Fees by credit card or debit card.<br /> 
  There is also the option to pay any other fees owing.</p>
  <p class="summary">All information is encrypted and held in a safe and secure environment.</p>
  <div class="bar"><strong>PAY  YOUR TUITION FEE</strong></div> 
  <%= render 'form' %>
</div>