@charset "utf-8";
body {
	background-color:#b4b4b4;
	}
.header {
	background-color: #FFFFFF;
	height: 115px;
	width: 858px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}
.container {
	height: auto;
	width: 858px;
	margin:0 auto;
}
.body_report {
	background-color: #FFFFFF;
	height: 180px;
	width: 822px;
	margin-left: 18px;
}
.list_report {
	margin-left: 18px;
	margin-top: 15px;
	font-family: Calibri;
	font-size: 18px;
	color: #4f4f4f;
}


.copyright {
	background-color: #FFFFFF;
	height: 44px;
	width: 858px;
}
.block_footer_grey {
	background-color: #999999;
	height: 78px;
	width: 858px;
}


.body_form {
	height: 900px;
	width: 858px;
	background-color: #ebebeb;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top: 0px;
	padding-top:5px;
}
.bar_input_lightgrey {
	background-color: #cacaca;
	width: 822px;
	margin-left:18px;
	padding-top: 2px;
	margin-top: 10px;
	}
.text_form {
	color: #4f4f4f;
	font-family: Calibri;
	font-size: 10px;
	font-weight: bold;
	margin-top: 3px;
}

.header_form_tuition {
	background-color: #7f7f7f;
	height: 28px;
	width: 822px;
	margin-bottom:10px;
	margin-top:3px;
	margin-left:18px;
	padding-top: 3px;
	border-radius:5px;
}

.header_title_small {
	color:#FFFFFF;
	font-size:14px;
	font-family:Calibri;
	margin: 5px;
}

.bar_input_darkgrey {
	background-color: #afafaf;
	width: 822px;
	margin-left:18px;
	float: inherit;
	margin-top: 10px;
}
.bar_total_confirm {
	background-color: #4f4f4f;
	font-family: Calibri;
	font-size: 22px;
	height: 30px;
	width: 822px;
	color: #FFFFFF;
	margin-top: 15px;
}

.bar_menu_li {
	width: 822px;
	margin-top: 0px;
	margin-left: 18px;
	background-color: #afafaf;
}
.footer {
	height: 122px;
	width: 858px;
	background-color: #FFFFFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}





.title_page {
	color:#ff4d00;
	font-family:Calibri;
	font-weight:200;
	font-size:22px;
	margin-left: 18px;
	margin-top: 20px;
}
.bar{
	height: 39px;
	width: 822px;
	margin-left: 18px;
	background-image:url(bar.png);
	background-repeat: no-repeat;
	color:#FFFFFF;
	font-family:Calibri;
	font-size:22px;
	padding-left: 18px;
	padding-top: 6px;
	margin-top: 10px;
}
.bar_central {
	background-repeat: repeat-x;
	height: 39px;
	width: 812px;
}
.text_form_header {
	font-family:Calibri;
	font-size:10px;
	color:#FFFFFF;
	margin-left: 18px;
}

.title_grey{
	color:#333333;
}

.summary {
	font-family:Calibri;
	font-size:14px;
	color:#666666;
	margin-left:18px;
	}

.logo {
	float: left;
	height: 49px;
	width: 374px;
	padding-top: 24px;
	padding-left: 18px;
	
}

.input_type {
	margin-top: 6px;
	margin-bottom:5px;
	float:left;
	clear: right;
	opacity:0%;
	}
.menu_drop {
 margin-bottom:5px;
 }

.spasi {
	clear:both;
	}
	
.header_form_addition {
	background-color: #7f7f7f;
	height: 28px;
	width: 822px;
	margin-bottom:10px;
	margin-top:15px;
	margin-left:18px;
	padding-top: 3px;
	border-radius:5px;
}

.bar_confirm{
	height: 39px;
	width: 822px;
	background-image:url(bar.png);
	background-repeat: no-repeat;
	color:#FFFFFF;
	font-family:Calibri;
	font-size:22px;
	padding-left: 18px;
	padding-top: 6px;
	margin-top: 10px;
}

.body_form_confirm {
	height:100%;
	width: 858px;
	background-color: #ebebeb;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top: 0px;
	padding-top:5px;
}

.button_pay {
	float:left;
	height: 21px;
	width: 149px;
	font-family: Calibri;
	font-size: 15px;
	margin-top: 10px;
	border-radius: 5px;
	text-decoration: none;
	margin-left: 360px;
}